@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

:root {
  font-family: 'Smythe', cursive;
  --main-color: #16db99;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu-items,
nav {
  margin: 0 auto;
  max-width: 768px;
}

nav {
  font-size: x-large;
  color: white;
  padding: 1.5rem;
  background: url(./img/header.png);
  background-size: cover;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.order {
  display: flex;
  margin: 1.5rem auto;
  max-width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid #000;
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name,
.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.ingredients {
  font-size: 0.9rem;
  color: #666;
}

.add-btn {
  color: #000;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
